{% extends "base_device.yaml.jinja2" %}

{% block device_setup %}
device_type: kv260

job_name: {{ settings.CI_JOB_NAME }}

timeouts:
  job:
    minutes: 60
  action:
    minutes: 20
  connection:
    minutes: 20

priority: medium

visibility: public

context:
  test_character_delay: 30

actions:

- deploy:
    timeout:
      minutes: 60
    to: flasher
    images:
      ImageA:
        {%- set firmware_path, firmware_extension = splitext(firmware_url["ImageA.bin.gz"]) %}
        url: {{ firmware_url["ImageA.bin.gz"] }}
        compression: {{ firmware_extension[1:] }}
      ImageB:
        {%- set os_path, firmware_extension = splitext(firmware_url["ImageB.bin.gz"]) %}
        url: {{ firmware_url["ImageB.bin.gz"] }}
        compression: {{ firmware_extension[1:] }}
      sd:
        url: {{ os_url }}
        {%- set _, os_extension = splitext(os_url) %}
        compression: {{ os_extension[1:] }}
        partition: 1
        format: ext4
        overlays:
          lava: true
- boot:
    timeout:
      minutes: 15
    method: u-boot
    final_message: "EFI stub: UEFI Secure Boot is enabled."
    auto_login:
      login_prompt: 'ledge-qemuarm login:'
      username: ''
    prompt:
      - "ZynqMP>"
    commands:
      - ls mmc 1:1 /
      - ls mmc 1:2 /
      - efidebug boot order
      - printenv -e BootNext
      - efidebug boot dump
      - setenv -e -rt -bs BootNext
      - efidebug boot rm -b 1
      - efidebug boot add -b 1 BootLedge mmc 1:1 efi/boot/bootaa64.efi -i mmc 1:1 ledge-initramfs.rootfs.cpio.gz -s 'console=ttyPS1,115200 console=tty0 root=UUID=6091b3a4-ce08-3020-93a6-f755a22ef03b rootwait panic=60'
      - efidebug boot order 1
      - echo "Starting kernel"; bootefi bootmgr

- boot:
    timeout:
      minutes: 15
    method: minimal
    reset: false
    prompts:
      - "ledge-secure-qemuarm64:"
      - ewaol@(.*):[/~]\$
      - root@(.*):[/~]#
    auto_login:
      login_prompt: "login:"
      username: "root"
{% endblock %}
